{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": ["^components/(.*)$", "^utility/(.*)$", "^styles/(.*)$", "^[./]" ],
  "importOrderSeparation": true, 
  "importOrderSortSpecifiers": true 
}