
.app {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  justify-content: space-around;

}

.toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  position: absolute;
  top: 1%;
  right: 1%;
}