.table {
  table-layout: fixed;
  border-collapse: collapse;
}

.titlerow {
  padding-left: 1vw;
  padding-right: 1vw;
  min-width: 7vw;
  max-width: 7vw;
  word-wrap: break-word;
}

.row {
  padding-left: 1vw;
  padding-right: 1vw;
  word-wrap: break-word;
  text-align: left;
  border: 1px solid black;
}